@import "fonts";
@import "variables";
@import "mixins";

.button-live-chat{
    width: 100%;
    padding: 10px;
    @include text(18px, $semi-bold, $color-text-1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    outline: none;
    background-color: $color-bg-btn-1;
    border: 2px solid #fff;
    text-transform: uppercase;
    i{
        font-size: 17px;
    }
    &:hover{
        background-color: $color-bg-btn-hover-1;
    }
    @include  width1199px{
        display: none;
    }
}
.btn-red-arrow{
    padding: 5px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bg-btn-2;
    color: $color-text-1;
    border: 2px solid $color-border-1;
    position: relative;
    left: 90%;
    top: 77px;
    z-index: 2;
}
.btn-order-now{
    outline: none;
    width: 270px;
    padding: 25px;
    background-color: $color-bg-btn-hover-1;
    border: 2px solid #fff;
    @include text(18px, $bold, $color-text-1);
    margin: 70px 0px 0px 200px;
    &:hover{
        background-color: $color-bg-btn-hover-2;
        color: $color-text-2;
    }
}