@import "fonts";
@import "variables";
@import "mixins";
@import "media";

.btn-live-chat{
    width: 190px;
    padding: 15px 15px;
    background-color: $color-primary-bg-1;
    outline: none;
    border: 1px solid $color-primary-text-1;
    @include text(18px, $semi-bold, $color-primary-text-1);
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    &:hover{
        background-color: $color-primary-hover-1;
    }
}
.btn-order-now{
    width: 270px;
    padding: 28px 70px;
    background-color: $color-primary-hover-1;
    outline: none;
    border: 1px solid $color-primary-text-1;
    @include text(18px, $bold, $color-primary-text-1);
    text-transform: uppercase;
    &:hover{
        background-color: $color-primary-hover-2;
        color: $color-primary-text-2;
    }
}
.btn-list-discounts{
    width: 270px;
    padding: 9px 36px;
    background: transparent;
    outline: none;
    border: 1px solid $color-primary-text-1; 
    @include text(16px, $light, $color-primary-text-1);
    text-transform: uppercase;
    &:hover{
        background-color: $color-primary-hover-1;   
    }
}
.btn-arrow{
    height: 35px;
    width: 35px;
    background: $color-primary-hover-1;
    border: 1px solid #fff;
    outline: none;
    color: $color-primary-text-1;
    position: absolute;
    left: 80%;
    top: 125px;
    @include width991px{
        top: 150px;
    }
     @include  width767px{
                    width: 100%;
        }
    i{
        font-size: 20px;
    }
}
.btn-read-more{
    width: 190px;
    height: 52px;
    background-color: $color-primary-bg-1;
    outline: none;
    color: $color-primary-text-1;
    @include text(16px, $regular, $color-primary-text-1);
    text-transform: uppercase;
    border: none;
}
.btn-back-home{
    width: 150px;
    height: 43px;
    background-color: $color-primary-bg-1;
    border: 3px solid transparent;
    outline: none;
    @include text(18px, $semi-bold, $color-primary-text-1);
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 10px;
    &:hover{
        border: 3px solid $color-primary-bg-1;
        color: $color-primary-bg-1;
        background: $color-primary-text-1;
    }
}