header{
    .top-header{
        @include width767px{
            display: none;
        }
        background-color: $color-primary-bg-1;
        .contact{
            height: 50px;
            .support{
                @include text(18px, $regular, $color-primary-text-1);
                .regular{
                    background: url(../img/icon_phone.png);
                    width: 35px;
                    height: 27px;
                    display: inline-block;
                }
                .active{
                    background: url(../img/icon_phone_2.svg);
                    width: 35px;
                    height: 30px;
                    display: inline-block;
                }
                .number{
                    @include text(24px, $regular, $color-primary-text-1);
                    @include width1199px{
                    @include text(20px, $regular, $color-primary-text-1);
                    } 
                }
            }
        }
        .social{
            height: 50px;
            .social__text{
               @include text(18px, $regular, $color-primary-text-1);
               @include width1199px{
                  @include text(16px, $regular, $color-primary-text-1);
               } 
            }
            .social__icon{
                color: white;
                font-size: 25px;
                padding: 0px 6px;
                &:hover{
                    animation-name: heartBeat;
                    animation-duration: 1.3s;
                    animation-timing-function: ease-in-out;
                    @-webkit-keyframes heartBeat {
                    0% {
                        transform: scale(1);
                    }

                    14% {
                        transform: scale(1.3);
                    }

                    28% {
                        transform: scale(1);
                    }

                    42% {
                        transform: scale(1.3);
                    }

                    70% {
                        transform: scale(1);
                    }
                    }

                    @keyframes heartBeat {
                        0% {
                            transform: scale(1);
                        }

                        14% {
                            transform: scale(1.3);
                        }

                        28% {
                            transform: scale(1);
                        }

                        42% {
                            transform: scale(1.3);
                        }

                        70% {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
    .middle-header{
        .logo{
            height: 110px;
        }
        .main-nav__list{
            @include width767px{
                display: none;
            }
           height: 110px;
           @include width991px{
               height: 50px;
           }
           @include width767px{
               width: 110px;
           }
           .main-nav__item{
               @include width767px{
                    display: none;
                }
               .main-nav__link{
                   text-transform: uppercase;
                   @include text(13px, $bold, $color-primary-text-2);
                   padding-bottom: 13px;
                   @include width991px{
                        @include text(12px, $regular, $color-primary-text-2);
                        text-transform: lowercase;
                   }
                   &:hover{
                       color: $color-primary-hover-1;
                       border-bottom: 4px solid $color-primary-hover-1;
                   }
               }
           }     
        }
        .burger{
            height: 110px;
            .hidden-menu {
                text-align: center;
                display: block;
                position: fixed;
                list-style:none;
                padding: 10px;
                margin: 0;
                box-sizing: border-box;
                width: 50%;
                background-color: $color-primary-bg-1;
                height: 100%;
                top: 0;
                left: -50%;
                transition: left .2s;
                z-index: 2;
                transform: translateZ(0);
                backface-visibility: hidden;
                ul{
                    li{
                        width: 100%;
                        padding: 11px 0px;
                        a{
                            text-transform: uppercase;
                            @include text(20px, $bold, $color-primary-text-2);
                            padding-bottom: 13px;
                            &:hover{
                                color: $color-primary-hover-1;
                                border-bottom: 4px solid $color-primary-hover-1;
                            }
                        }
                    }
                }
            }
            .hidden-menu-ticker {
            display: none;
            }
            .btn-menu {
            color: #fff;
            background-color: $color-primary-text-2;
            padding: 5px;
            //position: fixed;
            top: 5px;
            left: 5px;
            cursor: pointer;
            transition: left .23s;
            z-index: 3;
            width: 35px;
            transform: translateZ(0);
            backface-visibility: hidden;
            }
            .btn-menu span {
            display: block;
            height: 5px;
            background-color: #fff;
            margin: 5px 0 0;
            transition: all .1s linear .23s;
            position: relative;
            }
            .btn-menu span.first {
            margin-top: 0;
            }
            .hidden-menu-ticker:checked ~ .btn-menu {
            left: 160px;
            }
            .hidden-menu-ticker:checked ~ .hidden-menu {
            left: 0;
            }
            .hidden-menu-ticker:checked ~ .btn-menu span.first {
            transform: rotate(45deg);
            top: 10px;
            }
            .hidden-menu-ticker:checked ~ .btn-menu span.second {
            opacity: 0;
            }

            .hidden-menu-ticker:checked ~ .btn-menu span.third {
            transform: rotate(-45deg);
            top: -10px;
            }
        }
    }
    .bottom-header{
        background-color: $color-primary-bg-2;
        .content{
            height: 470px;
            background: url(../img/img_boy.png) no-repeat 0% 100%,
            url(../img/img_books_lamp.png) no-repeat 100% -140%;
            @include width1199px{
                background: url(../img/img_boy.png) no-repeat 0% 100%;
            }
            @include width991px{
                background: none;
            }
            @include width767px{
                height: 350px;
            }
            .btn-wrapper{
                height: 115px;
            }
            .title-wrapper{
                height: 115px;
                .title{
                    text-align: center;
                    @include text(52px, $bold, $color-primary-text-1);
                    text-transform: uppercase;
                    @include width991px{
                        @include text(40px, $bold, $color-primary-text-1);
                    }
                    @include width575px{
                        @include text(25px, $bold, $color-primary-text-1);
                    }
                }
            }
            .cap-title{
                text-align: center;
                .caps{
                    @include text(36px, $semi-bold, $color-primary-text-1);
                    text-transform: uppercase; 
                    padding: 10px 0px;
                    @include width575px{
                        @include text(23px, $bold, $color-primary-text-1);
                    }
                }
            }
            .cap-title-2{
                .caps-2{
                   @include text(27px, $light, $color-primary-text-2);
                    text-transform: uppercase; 
                    padding: 10px 0px;
                }
                .caps-3{
                   @include text(20px, $light, $color-primary-text-2);
                   padding-right: 30px;
                }
            }
            .btn-order-wrapper{
                margin-top: 50px;
            }
        }
    }
    .last-row{
        background-color: $color-primary-bg-1;
        .text-wrapp{
            height: 54px;
            .text{
                @include text(18px, $regular, $color-primary-text-1);
                @include width991px{
                    @include text(14px, $regular, $color-primary-text-1);
                }
            }
        }
        .btn-list-wrapper{
            height: 54px;
        }
    }
}

footer{
    .top-footer{
        background-color: $color-primary-bg-1;
        height: 212px;
        display: flex;
        align-items: center;
        .under-logo_text{
            text-align: center;
            .text{
                @include text(14px, $regular, $color-primary-text-1);
                padding: 5px 0px;
            }
        }
        .text-wrapper{
            border: 3px solid #fff;
            padding: 20px;
            .text{
                width: 700px;
                @include text(11px, $light, $color-primary-text-1);
            }
        }
    }
}
