header{
    .top-header{
        background-color: $color-bg-1;
        @include width767px{
            display: none;
        }
        .for-xl-top-header-main{
            justify-content: space-between;
            .normal{
                background: url(../img/icon_phone.png);
                width: 35px;
                height: 27px;
                @include width991px{
                    display: none;
                }
            }
            .active{
                background: url(../img/icon_phone_2.svg);
                width: 36px;
                height: 30px;
                @include width991px{
                    display: none;
                }
            }
            .call{
                height: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                @include width1199px{
                    justify-content: space-between;
                }
                .call__text{
                    @include text(18px, $regular, $color-text-1);
                    @include width1199px{
                        @include text(16px, $regular, $color-text-1);
                    }
                    @include width991px{
                        @include text(14px, $regular, $color-text-1);
                    }
                    .number{
                        @include text(23px, $regular, $color-text-1);
                        @include width1199px{
                            @include text(19px, $regular, $color-text-1);
                        }
                        @include width991px{
                            @include text(17px, $regular, $color-text-1);
                        }
                    }
                }
            }
            .socials{
                @include width991px{
                    display: none;
                }
                height: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .socials__text{
                    @include text(18px, $regular, $color-text-1);
                }
                .social__icons{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .socials__pinterest{
                        width: 39px;
                        height: 40px;
                        background: url(../img/icon-pinterest.png);
                        &:hover{
                            transition: all .2s ease-in-out;
                            transform: scale(1.2);
                        }
                    }
                    .socials__twitter{
                        width: 39px;
                        height: 40px;
                        background: url(../img/icon-twitter.png);
                        &:hover{
                            transition: all .2s ease-in-out;
                            transform: scale(1.2);
                        }
                    }
                    .socials__facebook{
                        width: 39px;
                        height: 40px;
                        background: url(../img/icon-facebook.png);
                        &:hover{
                            transition: all .2s ease-in-out;
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
    .middle-header{
        .for-xl-logo-nav{
            justify-content: space-between;
            .logo{
                height: 110px;
                display: flex;
                align-items: center;
                @include width1199px{
                    justify-content: center;
                }
                @include width767px{
                    justify-content: flex-start;
                }
                img{
                    max-width: 100%;
                }
            }
            nav{
                @include width767px{
                    display: none;
                }
                .nav__list{
                    height: 110px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .nav__item{
                        .nav__link{
                            @include text(13px, $bold, $color-text-2);
                            text-transform: uppercase;
                            padding-bottom: 13px;
                            @include width1199px{
                                @include text(14px, $bold, $color-text-2);
                            }
                            &:hover{
                                @include text(13px, $bold, $color-text-hover-1);
                                border-bottom: 3px solid $color-text-hover-1;
                            }
                            @include width991px{
                                @include text(11px, $bold, $color-text-2);
                            }
                        }
                    }
                }
            }
            .burger{
                display: none;
                @include width767px{
                    height: 110px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
                .hidden-menu-ticker {
                    display: none;
                }
                .hidden-menu {
                    display: block;
                    position: fixed;
                    list-style:none;
                    padding: 10px;
                    margin: 0;
                    box-sizing: border-box;
                    width: 200px;
                    background-color: #eee;
                    height: 80%;
                    top: 0;
                    left: -200px;
                    transition: left .2s;
                    z-index: 2;
                    transform: translateZ(0);
                    backface-visibility: hidden;
                    .hidden-menu__item{
                        width: 100%;
                        padding: 10px 0px;
                        .hidden-menu__link{
                            @include text(16px, $bold, $color-text-2);
                            text-transform: uppercase;
                             &:hover{
                                @include text(16px, $bold, $color-text-hover-1);
                                border-bottom: 3px solid $color-text-hover-1;
                            }
                        }
                    }
                }
                .btn-menu {
                    color: #fff;
                    padding: 5px;
                    //position: fixed;
                    top: 5px;
                    left: 5px;
                    cursor: pointer;
                    transition: left .23s;
                    z-index: 3;
                    width: 40px;
                    transform: translateZ(0);
                    backface-visibility: hidden;
                    }
                    .btn-menu span {
                    display: block;
                    height: 5px;
                    background-color: #000;
                    margin: 5px 0 0;
                    transition: all .1s linear .23s;
                    position: relative;
                    }
                    .btn-menu span.first {
                    margin-top: 0;
                }
                .hidden-menu-ticker:checked ~ .btn-menu {
                left: 160px;
                }
                .hidden-menu-ticker:checked ~ .hidden-menu {
                left: 0;
                }
                .hidden-menu-ticker:checked ~ .btn-menu span.first {
                transform: rotate(45deg);
                top: 10px;
                }
                .hidden-menu-ticker:checked ~ .btn-menu span.second {
                opacity: 0;
                }
                .hidden-menu-ticker:checked ~ .btn-menu span.third {
                transform: rotate(-45deg);
                top: -10px;
                }
            }
        }
    }
}
footer{
    .main-footer{
        @include width575px{
            display: none;
        }
        background-color: $color-bg-1;
        .for-xl-footer{
            height: 211px;
            align-items: center;
            @include width991px{
                height: 400px;
            }
            .logo-footer{
                display: flex;
                flex-direction: column;
                align-items: center;
                @include width991px{
                    justify-content: center;
                }
                .text-logo{
                    padding: 4px 0px;
                    @include text(14px, $regular ,$color-text-1);
                    @include width1199px{
                        @include text(12px, $regular, $color-text-1);
                    }
                }
            }
            .content-text{
                display: flex;
                align-items: center;
                @include width991px{
                    justify-content: center;
                }
                .text-about{
                    height: 161px;
                    width: 100%;
                    border: 2px solid $color-border-1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .text{
                        width: 750px;
                        @include text(11px, $light, $color-text-1);
                    }
                }
            }
        }
    }
    .bottom-footer{
        background-color: $color-bg-3;
        @include width575px{
            background-color: $color-bg-1;
        }
        .for-xl-bottom-footer{
            height: 70px;
            align-items: center;
            .socials{
                @include width575px{
                    display: none;
                }
                height: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .socials__text{
                    @include text(18px, $regular, $color-text-1);
                }
                .social__icons{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .socials__pinterest{
                        width: 39px;
                        height: 40px;
                        background: url(../img/icon-pinterest.png);
                        &:hover{
                            transition: all .2s ease-in-out;
                            transform: scale(1.2);
                        }
                    }
                    .socials__twitter{
                        width: 39px;
                        height: 40px;
                        background: url(../img/icon-twitter.png);
                        &:hover{
                            transition: all .2s ease-in-out;
                            transform: scale(1.2);
                        }
                    }
                    .socials__facebook{
                        width: 39px;
                        height: 40px;
                        background: url(../img/icon-facebook.png);
                        &:hover{
                            transition: all .2s ease-in-out;
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .copyWrite{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
                .text{
                    @include text(14px, $regular, $color-text-1);
                }
            }
        }
    }
}