.my_profile{
  .bg-col{
      background-color: $color-primary-bg-2;
      .title_block{
          height: 115px;
          .title{
              @include text(36px, $semi-bold, $color-primary-text-1);
              text-transform: uppercase;
            }
        }
    }
    .profile-info{
        height: 75px;
        @include width767px{
            height: 150px;
            text-align: center;
        }
        .name{
            @include text(16px, $regular, $color-primary-text-4);
            .user_name{
                @include text(16px, $regular, $color-primary-bg-1);
                text-transform: uppercase;
            }
        }
        .account{
            @include text(16px, $regular, $color-primary-text-4);
            .status{
                @include text(16px, $regular, $color-primary-text-4);
                font-weight: bold;
            }
        }
        .discount{
            @include text(16px, $regular, $color-primary-text-4);
        }
        .email{
            @include text(16px, $regular, $color-primary-text-4);
            .user_email{
                @include text(16px, $regular, $color-primary-text-4);
                font-weight: bold;
            }
        }
    }
    .bg{
        height: 75px;
        @include width767px{
            height: 150px;
        }
        background-color: $color-primary-bg-1;
        ul{
            li{
                @include  text(14px, $bold, $color-primary-text-1);
                text-transform: uppercase;
                padding: 0px 15px;
                @include width767px{
                   padding: 5px 0px; 
                }
            }
        }
    }
    .forms{
        border-top: 1px solid $color-primary-text-3;
        border-bottom: 1px solid $color-primary-text-3;
        margin: 20px 0px;
        padding: 40px 0px;
        .title{
            @include text(25px, $regular, $color-primary-text-2);
            //padding: 20px 0px;
            @include width767px{
                @include text(20px, $regular, $color-primary-text-2);
            }
        }
        label{
            padding: 10px 0px;
            @include text(14px, $regular, $color-primary-text-4);
        }
        .form{
            height: 43px;
            width: 400px;
            padding: 10px 0px;
            border: 1px solid #8a8585;
            @include text(18px, $regular, $color-primary-text-4);
            @include width767px{
                width: 300px;
            }
        }
        .chek{
            padding: 10px 0px;
            span{
                padding-left: 9px;
                @include text(14px, $regular, $color-primary-text-4);
            }
        }
    }
    .completed{
        border-top: 1px solid $color-primary-text-3;
        border-bottom: 1px solid $color-primary-text-3;
        margin: 20px 0px;
        padding: 40px 0px;
        .title_block{
            .title{
                @include text(30px, $regular, $color-primary-text-2);
                text-align: center;
            }
        }
        .block_info{
            text-align: center;
            height: 60px;
            width: 590px;
            background-color: $color-primary-bg-1;
            @include text(16px, $regular, $color-primary-text-1);
            margin: 20px 0px 0px 0px;
            @include width767px{
                width: 300px;
            }
        }
        .info{
            text-align: center;
            height: 60px;
            width: 590px;
            background-color: $color-primary-bg-4;
            @include text(14px, $regular, $color-primary-text-2);
             @include width767px{
                width: 300px;
            }
        }
        .info-details{
            text-align: center;
            height: 60px;
            width: 590px;
            @include text(14px, $regular, $color-primary-text-2);
             @include width767px{
                width: 300px;
            }
        }
    }
    .btn-wrap{
        height: 100px;
        background-color: $color-primary-bg-4;
        margin: 20px 0px 0px 0px;
    }
}