.prices{
    .bg{
        background-color: $color-primary-bg-1;
        .title_block1{
            height: 117px;
            .title{
                @include text(36px, $semi-bold, $color-primary-text-1);
                text-transform: uppercase;
                text-align: center;
                @include width575px{
                    @include text(30px, $semi-bold, $color-primary-text-1);
                }
            }
        }
    }
    .main_inner{
        .title_bl{
            height: 190px;
            .title{
                @include text(36px, $regular, $color-primary-text-2);
            }
            .text{
                @include text(13px, $light, $color-primary-text-4);
            }
        }
        .price{
            .input{
              @include width575px{
                    margin: 10px 0px;
              }
              margin: 20px 0px;
            }
            .mini_title{
                @include text(14px, $regular, $color-primary-text-4);
                padding-bottom: 5px;
            }
            .currency{
                height: 42px;
                .currensy_item{
                    border: 2px solid $color-primary-11;
                    padding: 13px;
                    border-right: none;
                    @include text(14px, $regular, $color-primary-text-2);
                    &:last-child{
                        border-right: 2px solid $color-primary-11;
                    }
                    &:hover{
                        background-color: $color-primary-bg-1;
                        color: $color-primary-text-1;
                    }
                }
            }
             .paginator{
                height: 42px;
                .paginator_item{
                    border: 2px solid $color-primary-11;
                    padding: 13px;
                    border-right: none;
                    @include text(20px, $regular, $color-primary-text-2);
                    &:last-child{
                        border-right: 2px solid $color-primary-11;
                    }
                    &:hover{
                        background-color: $color-primary-bg-1;
                        color: $color-primary-text-1;
                    }
                }
            }
        }
    }
    .captitle{
        @include width1199px{
            text-align: center;
        }
        @include text(14px, $regular, $color-primary-text-4);
        padding: 5px 0px;
    }
    .list{
        li{
            @include text(14px, $regular, $color-primary-border-1);
            padding: 15px;
            border: 1px solid $color-primary-border-1;
            &:hover{
                background-color: $color-primary-bg-1;
                color: $color-primary-text-1;
            }
        }
    }
    .page{
        height: 48px;
        li{
            padding: 15px;
            border: 1px solid $color-primary-border-1; 
            @include text(18px, $regular, $color-primary-text-4);
            &:hover{
                background-color: $color-primary-bg-1;
                color: $color-primary-text-1;
            }
        }
    }
    .title_block22{
        margin-top: 40px;
        height: 70px;
        background-color: $color-primary-bg-1;
        @include text(16px, $regular, $color-primary-text-1);
    }
    .list_price{
        li{
            @include text(14px, $regular, $color-primary-text-4);
            height: 40px;
            &:nth-child(2n){
                background-color: #eaedf2;
            }
        }
    }
    .btn-wrap{
        height: 100px;
        margin: 40px 0px;
        background-color: #eaedf2;
    }
    .text_price{
        //padding-bottom: 50px;
        .text_price_inner{
            @include text(13px, $light, $color-primary-text-4);
            line-height: 24.39px;
        }
        .mini_list{
            li{
                @include text(13px, $light, $color-primary-text-4);
                line-height: 24.39px;
                list-style: url(../img/list-style.png) inside;
            }
        }
        .twoBlocks{
            margin: 30px 0px;
            .title_block{
                @include width991px{
                    margin-top: 50px;
                }
                height: 70px;
                background-color: $color-primary-bg-1;
                .title{
                   @include text(30px, $regular, $color-primary-text-1); 
                }
            }
            .inner_text{
                height: 400px;
                @include width575px{
                    height: 600px;
                }
                background-color: $color-primary-bg-2;
                padding: 40px;
                .text{
                    @include text(15px, $light, $color-primary-text-1);
                    line-height: 20.27px;
                }
            }
        }
    }
}