.register{
    .title_register{
        background-color: $color-primary-bg-2;
        .title_block{
            height: 112px;
            .title{
                @include text(36px, $semi-bold, $color-primary-text-1);
                text-transform: uppercase;
            }
        }
    }
    .registration_inner{
        height: 730px;
        .registration_title{
            height: 70px;
            width: 450px;
            background-color: $color-primary-bg-1;
            .title{
                @include text(24px, $regular, $color-primary-text-1);
            }
        }
        .registration_form{
            height: 500px;
            width: 450px;
            background-color: $color-primary-bg-2;
            input{
                height: 42px;
                width: 352px;
                @include text(14px, $regular, $color-primary-text-4);
                padding: 16px 18px;
                @include width575px{
                    width: 280px;
                }
            }
        }
    }
}