/* fonts */
$roboto-black: 'robotoblack';
$roboto-bold: 'robotobold';
$roboto-italic: 'robotobold_italic';
$roboto-condence-bold: 'roboto_condensedbold';
$roboto-condence-light: 'roboto_condensedlight';
$roboto-condence-regular: 'roboto_condensedregular';
$roboto-light: 'robotolight';
$roboto-medium: 'robotomedium';
$roboto-medium-italic: 'robotomedium_italic';
$roboto-regular: 'robotoregular';
$roboto-thin:  'robotothin';
$roboto-thin-italic: 'robotothin_italic';
$arial-narrov:  'arialnarrow';
