/*fonts*/
$black: 'montserratblack';
$bold: 'montserratbold';
$extra-bold: 'montserratextra_bold';
$their-line: 'montserrathairline';
$light: 'montserratlight';
$regular: 'montserratregular';
$semi-bold: 'montserratsemi_bold';
$ultra-light: 'montserratultra_light';
/*fonts end*/

/*colors*/

$color-bg-1: #2a80b9;


$color-text-1: #ffffff;
$color-text-2: #002157;

$color-text-hover-1: #e84c3d ;