/*fonts*/
$black: 'montserratblack';
$bold: 'montserratbold';
$extra-bold: 'montserratextra_bold';
$their-line: 'montserrathairline';
$light: 'montserratlight';
$regular: 'montserratregular';
$semi-bold: 'montserratsemi_bold';
$ultra-light: 'montserratultra_light';
/*fonts end*/