/*fonts*/
$black: 'montserratblack';
$bold: 'montserratbold';
$extra-bold: 'montserratextra_bold';
$their-line: 'montserrathairline';
$light: 'montserratlight';
$regular: 'montserratregular';
$semi-bold: 'montserratsemi_bold';
$ultra-light: 'montserratultra_light';
/*fonts end*/

/*colors*/
$color-primary-bg-1: #2a80b9;

$color-primary-text-1: #ffffff;

$color-primary-2: #e84c3d;
$color-primary-3: #002157;
$color-primary-4: #4e4e4e;
$color-primary-5: #cccccc;
$color-primary-7: #14a85c;
$color-primary-8: #7a8599;
$color-primary-9: #3598dc;
$color-primary-10: #333333;
$color-primary-11: #666666;
$color-primary-12: #777777;
$color-primary-13: #ccd3dd;
$color-primary-14: #f2c40e;
$color-primary-15: #eaedf2;
$color-primary-16: #86c1ea;
$color-primary-17: #ff0000;
$color-primary-18: #da491c;
$color-primary-19: #fab916;
$color-primary-20: #ffff00;
/* colors end*/