/*bootstrap*/
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
/*partials*/
@import "variables";
@import "fonts";
@import "media";
@import "settings";
@import "mixins";

/* partials */
@import "buttons";
/* main page */
@import "main-index";
/* error-404 page */
@import "error404";
/* about us main */
@import "about-us_main";
/* blog-main */
@import "main-blog";
/* discounts-main */
@import "discounts-main";
/* FAQ */
@import "faq-main";
/* login */
@import "login-main";
/* how it works*/
@import "how_it_works_main";
/* register */
@import "register-main";
/* My profile */
@import "my_profile_main";
/* testimonials */
@import "testimonials-main";
/* samples */
@import "samples-main";
/* order form */
@import "order-form-main";
/* prices */
@import "prices-main";