<main class="about_us">
    <div class="container-fluid about_us_title">
        <div class="row">
            <div class="col-12">
                <div class="about_us_title d-flex justify-content-center align-items-center">
                    <p class="title">
                        about us
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title d-flex align-items-end justify-content-center">
                    <h2 class="title">
                        Why we are?{h2}
                    </h2>
                </div>
            </div>
            <div class="col-12">
                <div class="cap-title  d-flex align-items-center justify-content-center">
                    <div class="title">
                        When you use EssaysService.com, this is exactly what you get
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="about_list_section d-flex justify-content-center align-items-start">
                    <ul class="list">
                        <li class="list_item">An essay, research paper or term paper written for your academic level, whether that be high school, college, or graduate school</li>
                        <li class="list_item">Authentic research performed individually for the customer</li>
                        <li class="list_item">A work that is delivered by the deadline established</li>
                        <li class="list_item">Revisions, free of charge, until the customer is completely satisfied (unless there is a change of original instructions)</li>
                        <li class="list_item">A guarantee of originality, enforced by scanning each work for plagiarism, using the most current software for that purpose</li>
                        <li class="list_item">An emulation of the customer’s writing style, accomplished by allowing the customer to submit samples of his or her previous works.  The assigned writer can then use that as a model in producing the piece</li>
                        <li class="list_item">A secure and easy method of payment</li>
                        <li class="list_item">A guarantee of complete confidentiality for each customer</li>
                        <li class="list_item">A customer service staff that is available to resolve any issues, answer any questions, and provide price quotes, no matter how simple or complex the work may be
                            Over 1000 academicians who create essays and research papers in their specific subject fields</li>
                        <li class="list_item">Resource use and citation as designated by the customer</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4">

            </div>
            <div class="col-xl-8">
                
            </div>
        </div>
    </div>
</main>