<main class="error404">
    <div class="container-fluid boy-main">
        <div class="row">
            <div class="col-12">
                <div class="error-title d-flex justify-content-center align-items-center">
                    <p class="title">
                        404
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid boy">
        <div class="container content d-flex align-items-center justify-content-center">
            <div class="row">
               <div class="col-12">
                   <div class="text-wrapper-404">
                        <p class="title">
                            404
                        </p>
                        <p class="cap-title">
                            Page not found
                        </p>
                        <p class="text">
                            THE LINK YOU FOLLOWED
                            IS PROBABLY BROKEN OR
                            THE PAGE HAS BEEN
                            REMOVED
                        </p>
                   </div>
                   <div class="btn-wrapp-back-home d-flex flex-column align-items-center">
                        <button class="btn-back-home">back</button>
                        <button class="btn-back-home">home</button>
                   </div>
               </div>
            </div>
        </div>
    </div>
</main>