<main class="how_it_works">
    <div class="container-fluid bg_works">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title_wrapper d-flex justify-content-center align-items-center">
                        <p class="title">
                            How it works
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-12">
                <div class="first_section">
                    <div class="section_title d-flex justify-content-center align-items-center">
                        <p class="title">
                            How does this works?
                        </p>
                    </div>
                    <div class="section_content">
                        <p class="content">
                            Have you been scammed by writing services? Do you resent using a writing service again? We understand your anger and
                            frustration, because many clients who end up with us have experienced just what you have. They paid for a paper and
                            received a terrible product which they could not submit without completely re-writing it or, worse, had to trash it
                            completely.<br>
                            <br>
                            With EssaysService.com, you get an entirely different process. We are completely open with our customers, and they are
                            aware of every stage their paper is at. Our company together with its customers has managed to build the confidence
                            which is not available with other services. Whether you need an essay, report, critique, term or research paper, thesis
                            or dissertation, the process is the same.When you use us, here is what happens:

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="second_section">
                    <div class="second_section_title d-flex flex-sm-row justify-content-sm-start align-items-sm-center flex-column align-items-center justify-content-around">
                        <span class="img_1-title">

                        </span>
                        <p class="title">
                            1. Place Your Order
                        </p>
                    </div>
                    <div class="second_section_content">
                        <p class="content">
                            Use our user-friendly form to place your order. This form allows you to indicate the academic level (high school,
                            undergraduate, etc.), the specific topic of the piece, type of piece (essay, report, research paper, etc.) and all other
                            requirements, such as length, number and types of resources to be used, citation format, etc. Also on this form, you
                            will find the place to indicate your deadline. This is critically important. We urge you to give us as much time as
                            possible to complete the work, but if the order is truly urgent, we will still accept it and complete it exactly by the
                            deadline. Next step to make is to pay for your order. The prices are based upon our pricing policy which is very
                            flexible and depends upon the work and the deadline.<br>
                            <br>
                            An order with a short deadline will be immediately assigned to a team of academicians in the subject field who will work
                            together to meet the deadline. If the deadline provides more time, the paper will be transferred to our contracted
                            writers. It will be given to the writer with an appropriate specialization and suitable academic level.<br>
                            <br>
                            Once you have completed the registration form, you will be assigned a customer ID, which you will use to access your
                            personal account. Your account dashboard is where you place your orders.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="third_section">
                    <div
                        class="third_section_title d-flex flex-sm-row justify-content-sm-start align-items-sm-center flex-column align-items-center justify-content-around">
                        <span class="img_2-title">
                
                        </span>
                        <p class="title">
                            2. Upload Additional Information
                        </p>
                    </div>
                    <div class="third_section_content">
                        <p class="content">
                            Usually it takes several minutes for your order to be taken by the writer. At your account you can upload any additional
                            information that you think your writer may need, including samples of your own writing for your writer to emulate. You
                            can also contact your writer directly, to know he or she is on the right track and that your order is progressing
                            according to your expectations. A messaging system has been set up for this purpose. However, you can upload additional
                            information before we find a suitable writer or during the initial stages of the writing process.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>