<main class="login">
    <div class="container-fluid bg-login">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title_wrapper d-flex justify-content-center align-items-center">
                        <p class="title">
                            login
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-login-form">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form_wrapper d-flex justify-content-center align-items-center">
                    <form>
                        <div class="form_title d-flex justify-content-center align-items-center">
                            Login Form
                        </div>
                        <div class="form_inner d-flex flex-column align-items-center justify-content-around">
                            <input type="email" placeholder="Email" class="email">
                            <input type="password" placeholder="Password" class="password">
                            <div class="btn-info-wrapper d-flex flex-row justify-content-between">
                                <div class="links d-sm-flex flex-column d-none">
                                    <a href="#">Forgot your password?</a>
                                    <a href="#">Registration & order</a>
                                    <a href="#">Free registration</a>
                                </div>
                                <div class="btn-wrapper d-flex">
                                    <button class="btn-live-chat">> Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>