<header>
    <div class="container-fluid top-header">
        <div class="container">
            <div class="row for-xl-top-header-main">
                <div class="col-xl-9 col-lg-9 col-md-12">
                    <div class="call">
                      <p class="normal"></p>
                      <p class="call__text">Toll for free: <span class="number">+1-(202)-555-0194</span></p>
                      <p class="active"></p>
                      <p class="call__text">Call now: <span class="number">+1-(202)-555-0194</span></p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="socials">
                        <p class="socials__text">Join us:</p>
                        <div class="social__icons">
                           <a href="#"><p class="socials__pinterest"></p></a>
                            <a href="#"><p class="socials__twitter"></p></a>
                           <a href="#"><p class="socials__facebook"></p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container middle-header">
        <div class="row for-xl-logo-nav">
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-6 col-9">
                <div class="logo">
                    <img src="img/logo.png" alt="logo">
                </div>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-6 col-3">
                <nav>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Service & Sprices</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">How it works</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Discounts</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Order now</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Faq</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Testimonials</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Blog</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Samples</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Login</a>
                        </li>
                    </ul>
                </nav>
                <div class="burger">
                    <input type="checkbox" id="hmt" class="hidden-menu-ticker">
                    <label class="btn-menu" for="hmt">
                        <span class="first"></span>
                        <span class="second"></span>
                        <span class="third"></span>
                    </label>
                    <ul class="hidden-menu">
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link">Home</a>
                        </li>
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link">About us</a>
                        </li>
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link">Services & Sprices</a>
                        </li>
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link"> How it works</a>
                        </li>
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link">Discounts</a>
                        </li>
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link">Order now</a>
                        </li>
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link">Faq</a>
                        </li>
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link">Testimonials</a>
                        </li>
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link">Blog</a>
                        </li>
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link">Samples</a>
                        </li>
                        <li class="hidden-menu__item">
                            <a href="#" class="hidden-menu__link">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bottom-header">
        <div class="container img_bg">
            <div class="row for-xl-bottom-header">
                <div class="col-xl-2 col-lg-2">
                    <div class="btn-wrapper">
                        <button class="button-live-chat"><i class="fas fa-comments"></i> > Live chat</button>
                    </div>
                </div>
                <div class="col-xl-10 col-xl-9">
                    <div class="title-wrapper">
                        <p class="title">
                            Custom Writing service
                        </p>
                        <p class="cap-title">
                            the key to success
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-xl-12 col-lg-12">
                   <div class="text-wrap">
                    <p class="text">
                        You are at right place!<br>
                        <span class="cap-text">EssayService.com is a top quality<br>
                            writing service</span>
                    </p>
                   </div>
               </div> 
            </div>
            <div class="row">
                <div class="col-xl-3 offset-xl-7 col-lg-4 offset-lg-6 col-md-5 offset-md-9 col-sm-7 offset-sm-9 col-12">
                   <div class="btn-order-wrap">
                        <button class="btn-order-now">Order NOW</button>
                   </div>
                </div>
            </div>
        </div>
    </div>
</header>