<header>
    <div class="container-fluid top-header">
        <div class="container">
            <div class="row justify-content-xl-between ">
                <div class="col-xl-9 col-lg-9 col-sm-12">
                    <div class="contact d-flex justify-content-xl-around justify-content-lg-around  justify-content-sm-between align-items-center">
                        <p class="support">
                            <span class="regular"></span>
                            Toll for free:
                            <span class="number"> +1-(202)-555-0194</span>
                        </p>
                        <p class="support">
                            <span class="active"></span>
                            Call now:
                            <span class="number"> +1-(202)-555-0194</span>
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                    <div class="social d-flex justify-content-xl-end align-items-center">
                        <span class="social__text">
                            Join us:
                        </span>
                        <span class="social__icon">
                            <i class="fab fa-pinterest-square"></i>
                        </span>
                        <span class="social__icon">
                            <i class="fab fa-twitter-square"></i>
                        </span>
                        <span class="social__icon">
                            <i class="fab fa-facebook"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>