<main class="my_profile">
    <div class="container-fluid bg-col">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title_block d-flex justify-content-center align-items-center">
                        <p class="title">
                            my PROFILE
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="profile-info d-flex align-items-center justify-content-between">
                    <p class="name">Welcome,<span class="user_name"> Anry Born</span></p>
                    <p class="account">Account status:<span class="status"> standart</span></p>
                    <p class="discount">Discount: 0% [upgrade to 15%]</p>
                    <p class="email">Discount code:<span class="user_email"> matsevychv@gmail.com</span></p>
                </div>
            </div>
            <div class="col-xl-12 bg d-flex align-items-center justify-content-center">
                <ul class="d-flex justify-content-center">
                    <li>My profile</li>
                    <li>PErsonal profile</li>
                    <li>Terms & conditions</li>
                    <li>Affiliate Program</li>
                    <li>Log Out</li>
                </ul>
            </div>
            <div class="col-xl-6 forms d-flex flex-column justify-content-center">
                <p class="title d-flex">Your Personal Information</p>
                <label>Login (discount code)</label>
                <input type="text" class="form">
                <label>Password</label>
                <input type="text" class="form">
                <label>First name</label>
                <input type="text" class="form">
                <label>Last name</label>
                <input type="text" class="form">
                <label>Password</label>
                <input type="text" class="form">
                <label>Alternative password</label>
                <input type="text" class="form">
                <label>Receive E-mail</label>
                <p class="chek"><input type="checkbox" class="chekbox"><span>Email me about custom service and other product related updetes</span></p>
                <label>Contact phone</label>
                <input type="text" class="form">
                <label>Alternative phone</label>
                <input type="text" class="form">
                <label>Allow night calls</label>
                <p class="chek"><input type="checkbox" class="chekbox"><span>I agree to receive phone calls from you at night in case of emergency</span></p>
                <div class="btn-wrapper d-flex justify-content-start">
                    <button class="btn-save">Save</button>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="completed">
                    
                </div>
            </div>
        </div>
    </div>
</main>