<main class="prices">
    <div class="container-fluid bg">
        <div class="container">
           <div class="row">
                <div class="col-12">
                    <div class="title_block d-flex justify-content-center align-items-center">
                        <p class="title">
                            Services & Prices
                        </p>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <div class="container main_inner">
        <div class="row">
            <div class="col-12 title_bl d-flex justify-content-center align-items-center  flex-column">
                <p class="title">
                    Prices
                </p>
                <p class="text align-self-end">
                    Confused about the difference in pricing of various writing services? We understand! Most services charge a set
                    price-per-page, for anything from a high school 5-paragraph essay to a Ph.D. dissertation. This should raise an
                    immediate red flag to you. No honest and ethical service can do this without using second-rate writers and databases of
                    pre-written papers.
                </p>
            </div>
        </div>
        <div class="row price justify-content-center align-items-center">
            <div class="col-12">
                <p class="mini_title">Currency:</p>
                <ul class="currency d-flex align-items-center  justify-content-center">
                    <li class="currensy_item">USD</li>
                    <li class="currensy_item">GBP</li>
                    <li class="currensy_item">EUR</li>
                    <li class="currensy_item">CAD</li>
                </ul>
            </div>
            <div class="col-xl-5 col-12 input  d-flex justify-content-center flex-column align-items-center">
                <p class="mini_title">Select product:</p>
                <input type="number" class="input_personal_info2" placeholder="Essay">
            </div>
            <div class="col-12 flex-column d-flex justify-content-center align-items-center">
                <p class="mini_title">Pages:</p>
                <ul class="paginator d-flex align-items-center">
                    <li class="paginator_item">-</li>
                    <li class="paginator_item">3</li>
                    <li class="paginator_item">+</li>
                </ul>
            </div>
        </div>
    </div>
</main>