<main class="samples">
    <div class="container-fluid bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title_block d-flex justify-content-center align-items-center">
                        <p class="title">
                            Samples
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-inner">
        <div class="row">
            <div class="col-12">
                <div class="title-block d-flex justify-content-center align-items-center">
                    <div class="title">
                        Powerpoint Presentation
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12">
                <div class="order_block d-flex flex-column justify-content-around align-items-center">
                    <span class="img"></span>
                    <a href="order-form.html" class="btn-order-now">Order now</a>
                    <p class="text">You can order your custom written paper NOW</p>
                    <p class="text2">Prices from<span class="price"> $11.99/page</span></p>
                </div>
            </div>
            <div class="col-xl-8 col-12">
                <div class="order_block2">
                    <ul>
                        <li>
                            <p>Topic:</p>
                            <p>Business Ethics Behavior</p>
                        </li>
                        <li>
                            <p>Number of pages:</p>
                            <p>6</p>
                        </li>
                        <li>
                            <p>Urgency:  </p>
                            <p>7 Days</p>
                        </li>
                        <li>
                            <p>Style:  </p>
                            <p>APA</p>
                        </li>
                        <li>
                            <p>Number of sourses:  </p>
                            <p>0</p>
                        </li>
                        <li>
                            <p>Academic level:  </p>
                            <p>High School  </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="title-block d-flex justify-content-center align-items-center">
                    <div class="title">
                        Powerpoint Presentation
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12">
                <div class="order_block d-flex flex-column justify-content-around align-items-center">
                    <span class="img"></span>
                    <a href="order-form.html" class="btn-order-now">Order now</a>
                    <p class="text">You can order your custom written paper NOW</p>
                    <p class="text2">Prices from<span class="price"> $11.99/page</span></p>
                </div>
            </div>
            <div class="col-xl-8 col-12">
                <div class="order_block2">
                    <ul>
                        <li>
                            <p>Topic:</p>
                            <p>Business Ethics Behavior</p>
                        </li>
                        <li>
                            <p>Number of pages:</p>
                            <p>6</p>
                        </li>
                        <li>
                            <p>Urgency:  </p>
                            <p>7 Days</p>
                        </li>
                        <li>
                            <p>Style:  </p>
                            <p>APA</p>
                        </li>
                        <li>
                            <p>Number of sourses:  </p>
                            <p>0</p>
                        </li>
                        <li>
                            <p>Academic level:  </p>
                            <p>High School  </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="title-block d-flex justify-content-center align-items-center">
                    <div class="title">
                        Powerpoint Presentation
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12">
                <div class="order_block d-flex flex-column justify-content-around align-items-center">
                    <span class="img"></span>
                    <a href="order-form.html" class="btn-order-now">Order now</a>
                    <p class="text">You can order your custom written paper NOW</p>
                    <p class="text2">Prices from<span class="price"> $11.99/page</span></p>
                </div>
            </div>
            <div class="col-xl-8 col-12">
                <div class="order_block2">
                    <ul>
                        <li>
                            <p>Topic:</p>
                            <p>Business Ethics Behavior</p>
                        </li>
                        <li>
                            <p>Number of pages:</p>
                            <p>6</p>
                        </li>
                        <li>
                            <p>Urgency:  </p>
                            <p>7 Days</p>
                        </li>
                        <li>
                            <p>Style:  </p>
                            <p>APA</p>
                        </li>
                        <li>
                            <p>Number of sourses:  </p>
                            <p>0</p>
                        </li>
                        <li>
                            <p>Academic level:  </p>
                            <p>High School  </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="title-block d-flex justify-content-center align-items-center">
                    <div class="title">
                        Powerpoint Presentation
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12">
                <div class="order_block d-flex flex-column justify-content-around align-items-center">
                    <span class="img"></span>
                    <a href="order-form.html" class="btn-order-now">Order now</a>
                    <p class="text">You can order your custom written paper NOW</p>
                    <p class="text2">Prices from<span class="price"> $11.99/page</span></p>
                </div>
            </div>
            <div class="col-xl-8 col-12">
                <div class="order_block2">
                    <ul>
                        <li>
                            <p>Topic:</p>
                            <p>Business Ethics Behavior</p>
                        </li>
                        <li>
                            <p>Number of pages:</p>
                            <p>6</p>
                        </li>
                        <li>
                            <p>Urgency:  </p>
                            <p>7 Days</p>
                        </li>
                        <li>
                            <p>Style:  </p>
                            <p>APA</p>
                        </li>
                        <li>
                            <p>Number of sourses:  </p>
                            <p>0</p>
                        </li>
                        <li>
                            <p>Academic level:  </p>
                            <p>High School  </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="title-block d-flex justify-content-center align-items-center">
                    <div class="title">
                        Powerpoint Presentation
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12">
                <div class="order_block d-flex flex-column justify-content-around align-items-center">
                    <span class="img"></span>
                    <a href="order-form.html" class="btn-order-now">Order now</a>
                    <p class="text">You can order your custom written paper NOW</p>
                    <p class="text2">Prices from<span class="price"> $11.99/page</span></p>
                </div>
            </div>
            <div class="col-xl-8 col-12">
                <div class="order_block2">
                    <ul>
                        <li>
                            <p>Topic:</p>
                            <p>Business Ethics Behavior</p>
                        </li>
                        <li>
                            <p>Number of pages:</p>
                            <p>6</p>
                        </li>
                        <li>
                            <p>Urgency:  </p>
                            <p>7 Days</p>
                        </li>
                        <li>
                            <p>Style:  </p>
                            <p>APA</p>
                        </li>
                        <li>
                            <p>Number of sourses:  </p>
                            <p>0</p>
                        </li>
                        <li>
                            <p>Academic level:  </p>
                            <p>High School  </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>