<main class="testimonials">
    <div class="container-fluid bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title_block d-flex align-items-center justify-content-center">
                        <p class="title">Testimonials</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-title">
       <div class="row">
           <div class="col-12">
                <div class="title_block d-flex align-items-end justify-content-center">
                    <p class="title">
                        What our customer says?
                    </p>
                </div>
                <div class="btn-wrapper d-flex align-items-center justify-content-center">
                    <button class="btn-leave-reply">Leave Reply</button>
                </div>
           </div>
           <div class="col-12">
               <div class="block-wrapper align-items-center d-flex justify-content-center flex-column">
                   <p class="text">
                    We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention
                    that a number of our humanities professors were purchasing work from your website to use in their classes for students
                    to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that
                    this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from
                    EssaysService.com.
                   </p>
                   <span class="name">Dr. Patricia Lolland, Houston, TX</span>
               </div>
           </div>
            <div class="col-12">
                <div class="block-wrapper align-items-center d-flex justify-content-center flex-column">
                    <p class="text">
                        We, here at the university, would like to thank you for your exemplary work. It was recently brought to our
                        attention
                        that a number of our humanities professors were purchasing work from your website to use in their classes
                        for students
                        to observe what a perfect paper looks like. After careful examination of the materials, our committee has
                        concluded that
                        this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work
                        from
                        EssaysService.com.
                    </p>
                    <span class="name">Dr. Patricia Lolland, Houston, TX</span>
                </div>
            </div>
            <div class="col-12">
                <div class="block-wrapper align-items-center d-flex justify-content-center flex-column">
                    <p class="text">
                        We, here at the university, would like to thank you for your exemplary work. It was recently brought to our
                        attention
                        that a number of our humanities professors were purchasing work from your website to use in their classes
                        for students
                        to observe what a perfect paper looks like. After careful examination of the materials, our committee has
                        concluded that
                        this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work
                        from
                        EssaysService.com.
                    </p>
                    <span class="name">Dr. Patricia Lolland, Houston, TX</span>
                </div>
            </div>
            <div class="col-12">
                <div class="block-wrapper align-items-center d-flex justify-content-center flex-column">
                    <p class="text">
                        We, here at the university, would like to thank you for your exemplary work. It was recently brought to our
                        attention
                        that a number of our humanities professors were purchasing work from your website to use in their classes
                        for students
                        to observe what a perfect paper looks like. After careful examination of the materials, our committee has
                        concluded that
                        this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work
                        from
                        EssaysService.com.
                    </p>
                    <span class="name">Dr. Patricia Lolland, Houston, TX</span>
                </div>
            </div>
            <div class="col-12">
                <div class="block-wrapper align-items-center d-flex justify-content-center flex-column">
                    <p class="text">
                        We, here at the university, would like to thank you for your exemplary work. It was recently brought to our
                        attention
                        that a number of our humanities professors were purchasing work from your website to use in their classes
                        for students
                        to observe what a perfect paper looks like. After careful examination of the materials, our committee has
                        concluded that
                        this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work
                        from
                        EssaysService.com.
                    </p>
                    <span class="name">Dr. Patricia Lolland, Houston, TX</span>
                </div>
            </div>
            <div class="col-12">
                <div class="block-wrapper align-items-center d-flex justify-content-center flex-column">
                    <p class="text">
                        We, here at the university, would like to thank you for your exemplary work. It was recently brought to our
                        attention
                        that a number of our humanities professors were purchasing work from your website to use in their classes
                        for students
                        to observe what a perfect paper looks like. After careful examination of the materials, our committee has
                        concluded that
                        this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work
                        from
                        EssaysService.com.
                    </p>
                    <span class="name">Dr. Patricia Lolland, Houston, TX</span>
                </div>
            </div>
            <div class="col-12">
                <div class="block-wrapper align-items-center d-flex justify-content-center flex-column">
                    <p class="text">
                        We, here at the university, would like to thank you for your exemplary work. It was recently brought to our
                        attention
                        that a number of our humanities professors were purchasing work from your website to use in their classes
                        for students
                        to observe what a perfect paper looks like. After careful examination of the materials, our committee has
                        concluded that
                        this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work
                        from
                        EssaysService.com.
                    </p>
                    <span class="name">Dr. Patricia Lolland, Houston, TX</span>
                </div>
            </div>
       </div>
    </div>
</main>